* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.produtos {
    max-width: 720px;
    width: 90%;
    margin: 58px;
    display: grid;
    grid-template-columns: repeat(3, 32.6%);
    grid-column-gap: 1%;

    .produto {
        background-color: rgb(49, 122, 122);

        &__dest-mod{
            background-color: rgb(0, 44, 44);
        }
    
        &__imagem{
            width: 100%;
        }
    
        &__nome{
            margin: 8px 0;
        }
    
        &__descricao{
            color: rgb(255, 255, 255);
        }
    }
}